* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* Header Section */

header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #f9faf8;
    padding: 10px 0;
    height: 10vh;
}

header i {
    font-size: 45px;
    flex-grow: 1;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    padding: 20px;
    font-size: 18px;
}

/* Hero Section */

#hero {
    height: 90vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1f2937;
}

#hero-text {
    width: 40%;
    color: #f9faf8;
    padding: 15px;
}

#hero-text p:nth-child(1) {
    font-size: 48px;
    font-weight: bold;
}

#hero-text p:nth-child(2) {
    font-size: 18px;
    color: #e5e7eb;
    width: 70%;
    padding-top: 10px;
}

#hero-text button {
    margin-top: 25px;
    width: 20%;
    padding: 10px;
    border-radius: 8px;
    border: none;
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 18px;
}

.img-container {
    display: flex;
    justify-content: center;
    height: 65%;
}

.img-container img {
    height: auto;
}

